<h1>Flight Booker 2001</h1>
<h4>THE way to find your flights!</h4>

<%= form_with url:'/flights', method: :get do |form| %>
  <div>
    <label for='origin_id'>Where are you departing from?</label>
    <%= form.collection_select :origin_id, @ordered_airports, :id, :name %>
  </div>

  <div>
    <label for='destination_id'>Where are you flying to?</label>
    <%= form.collection_select :destination_id, @ordered_airports, :id, :name %>
  </div>

  <div>
    <label for='passengers'>How many passengers are travelling?</label>
    <%= form.select :passengers, 1..4 %>
  </div>

  <div>
    <label for='date'>When are you flying?</label>
    <%= form.collection_select :date, @unique_flight_dates, :numeric_date, :short_date %>
  </div>

  <%= form.submit 'Search' %>
<% end %>

<% if @search_results %>
  <ul>
    <% @search_results.each do |result| %>
      <li>
        From: <%= result.origin.name %> To: <%= result.destination.name %> Date: <%= result.date.to_fs %>
      </li>
    <% end %>
  </ul>
  <% else %>
    <div>
      <p>No matches found.</p>
    </div>
<% end %>
