<h3>Booking information</h3>

<p>Departing from: <%= @flight.origin.name%> </p>
<p>Destination: <%= @flight.destination.name%> </p>
<p>Your flight date: <%=  @flight.date %></p>

<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>
  <% @passengers.to_i.times do |i| %>
    <h3>Passenger <%= i + 1 %></h3>
    <%= form.fields_for :passengers do |sub_form| %>
      <div>
        <%= sub_form.label :name %>
        <%= sub_form.text_field :name %>
      </div>
      <div>
        <%= sub_form.label :email %>
        <%= sub_form.email_field :email %>
      </div>
    <% end %>
  <% end %>
  <%= form.submit 'Book flight' %>
<% end %>
